<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279780878070-urp4qvln9a2uta9vmsolfcvmcrh22ski.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279780878070-urp4qvln9a2uta9vmsolfcvmcrh22ski</string>
	<key>API_KEY</key>
	<string>AIzaSyBMtWb5rhHT08ozQ777bPVMOf5v-Ncvr9o</string>
	<key>GCM_SENDER_ID</key>
	<string>279780878070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Cards</string>
	<key>PROJECT_ID</key>
	<string>cards-dcdc5</string>
	<key>STORAGE_BUCKET</key>
	<string>cards-dcdc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279780878070:ios:6c4d58702ffb73fbafaed7</string>
	<key>DATABASE_URL</key>
	<string>https://cards-dcdc5.firebaseio.com</string>
</dict>
</plist>